<h3>Listes des annonces</h3>

<div class="container">
  <div *ngFor="let advert of adverts | async">
    <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">
        Publié le
        {{ advert.pubDate | date: "dd/MM/yyyy" }}
      </div>

      <div class="card-body">
        <h4 class="card-title">{{ advert.title }}</h4>
        <p class="card-text">Catégorie: {{ advert.category.name }}</p>
        <div>
          <button class="btn btn-outline-secondary" [routerLink]="[advert.id]">
            Détails
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
