<div>
    <div>
        <img src="./assets/img/home1.png" class="img-fluid" alt="Responsive image">
    </div>
    <div>
        <div id="logoBand">
            <div class="col-1"><span class="material-icons" id="logo_bar"></span></div>
            <div class="col-1"><span class="material-icons" id="logo_bar">home</span>Aide ménagère</div>
            <div class="col-1"><span class="material-icons" id="logo_bar">pets</span>Animaux</div>
            <div class="col-1"><span class="material-icons" id="logo_bar">child_friendly</span>Babysitting</div>
            <div class="col-1"><span class="material-icons" id="logo_bar">build</span>Bricolage</div>
            <div class="col-1"><span class="material-icons" id="logo_bar">local_bar</span>Event</div>
            <div class="col-1"><span class="material-icons" id="logo_bar">local_florist</span>Jardin</div>
            <div class="col-1"><span class="material-icons" id="logo_bar">laptop_windows</span>Informatique</div>
            <div class="col-1"><span class="material-icons" id="logo_bar">hot_tub</span>Bien être</div>
            <div class="col-1"><span class="material-icons" id="logo_bar">school</span>Ecole</div>
            <div class="col-1"><span class="material-icons" id="logo_bar">local_shipping</span>Transport</div>
            <div class="col-1"><span class="material-icons" id="logo_bar"></span></div>
            
        </div>
    </div>
    <hr/>
    <div class="section-white">
        <div>
          <header>
            <h4>SIMPLE <span id="span1">&</span> RAPIDE</h4>
          </header>
          <div id="section1" class="row container">
            <div class="col s2 m3 l4">
              <div><i id="logo_bande1" class="material-icons">post_add</i></div>
              <a routerLink="advert/new"><h6>1. POSTEZ UNE ANNONCE</h6></a><br />
              <p>
                Décrivez la nature du service et nous prévenons les personnes
                compétentes dans votre voisinage
              </p>
            </div>
            <div class="col s2 m3 l4">
              <div><i id="logo_bande1" class="material-icons">check</i></div>
              <h6>2. SELECTIONNEZ LA BONNE PERSONNE</h6>
              <br />
              <p>Vous recevez des propositions de personnes disponibles</p>
            </div>
            <div class="col s2 m3 l4">
              <div>
                <i id="logo_bande1" class="material-icons">accessibility_new</i>
              </div>
              <h6>3. TROUVEZ L'ARRANGEMENT IDEAL</h6>
              <br />
              <p>
                La personne vous rend le service et vous n'avez plus qu'à convenir
                d'un moment!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src="./assets/img/geo.jpg" class="img-fluid" alt="Responsive image">
    </div>
</div>
